<h1>Search reservations</h1>

<%= form_tag  restaurants_path, method: "get" do |f| %>
  <div class="field">
    <%= date_field :date, min:Time.now.day %><br/>
  </div>
  <div class="field">
    <%= time_field :time, min:Time.now %><br/>
  </div>
  <div class="field">
    <%= label_tag :party_size %><br/>
    <%= number_field_tag :party_size, params[:party_size] %>
  </div>
  <div class="actions"><%= submit_tag "Search!" %></div>
<% end %>
