

<section class="search"
  Restaurant: <%= session[:restaurant_name] %> <br>
  Date: <%= session[:current_res_date] %> <br>
  Time: <%= session[:current_res_time] %>:00<br>
  Party Size: <%= pluralize(session[:party_size], 'person') %><br>

  <%= form_for @reservation do |f| %>
    <% if @reservation.errors.any? %>
      <div class="error_messages">
        <h4>Reservation not confirmed because:</h4>
        <ul>
          <% @reservation.errors.full_messages.each do |message| %><br>
            <%= message %>
          <% end %>
        </ul>
      </div>
    <% end %>

   <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>

   <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>


   <div class="actions"><%= f.submit %></div>
  <% end %>
</section>
