<h1> Reservation Confirmed!</h1>
<br><br>
<p class="success_text"> Congratulations <%=session[:reservation_name] %>, your reservation at <%= session[:restaurant_name] %>
has been confirmed for <%= session[:current_res_date] %> at <%= session[:current_res_time] %>:00.<br>
<br>
A confirmation has been sent to <%=session[:reservation_email]%>.</p>
<br>
<br>
<nav class="nav_bar">
<span class="nav_option"><%= link_to "Back to Search", new_search_restaurants_path %></span>
</nav>
