<h1 class="available">Available Restaurants</h1>
<div class="search_results">
  <h2>Reservation Details </h2>
  Date: <%= session[:current_res_date] %> <br>
  Time: <%= session[:current_res_time] %>:00<br>
  Party Size: <%= pluralize(session[:party_size], 'person') %><br>

  </br>
  </br>

  <ul>

  <% @valid_restaurants.each do |restaurant| %>
  <div class ="restaurant_result">
  <li>Restaurant Name: <%= restaurant.name %> <br><br><li>
  <li><%= image_tag restaurant.url %></li>
  <li><%= (restaurant.capacity - Reservation.where(date: session[:current_res_date],
  time: session[:current_res_time], restaurant_id: restaurant.id).sum(:party_size)) %>
  Seats Left! <br><br> </li>

  <div class="button_bar">
    <li><%= link_to 'Make a reservation!',"/restaurants/#{restaurant.id}", class: "button"  %><li>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <% end %>

  <ul>
</div>
