<h1>Available restaurants</h1>

<h2>Reservation Req. Details </h2>
Date: <%= @date %> <br>
Time:<%= @time %><br>
Party Size:<%= @party_size %><br>

</br>
</br>

<% @valid_restaurants.each do |restaurant| %>
Restaurant Name:<%= restaurant.name %> <br><br>
Restaurant Max Capacity:<%= restaurant.capacity %> <br><br>
Restaurant Capacity Taken: <%= Reservation.where(date: @date, time: @time, restaurant_id: restaurant.id).sum(:party_size) %> <br><br>
Restaurant Capacity Left: <%= (restaurant.capacity - Reservation.where(date: @date, time: @time, restaurant_id: restaurant.id).sum(:party_size)) %> <br><br>

<br>
<br>
<br>
<br>
<% end %>
