

<h1>Make a reservation at <%=@restaurant.name%>! </h1>

<% session[:restaurant_id] = @restaurant.id %>
<% session[:restaurant_name] = @restaurant.name %>

<% session[:capacity_left] = (@restaurant.capacity - Reservation.where(date: session[:current_res_date],
time: session[:current_res_time], restaurant_id: @restaurant.id).sum(:party_size)) %>

<br>
<br>

<h2>Reservation Details </h2>
<br>
<span class="res_details">Date: <%= session[:current_res_date] %></span> <br><br>
<span class="res_details">Time: <%= session[:current_res_time] %>:00</span><br><br>
<span class="res_details">Party Size: <%= pluralize(session[:party_size], 'person') %></span><br>
<br>
<br>

<nav class="nav_bar">
<span class="nav_option"><%= link_to "Confirm Reservation", new_reservation_path %></span>
<span class="nav_option"><%= link_to "Back to results", :back %></span>
<span class="nav_option"><%= link_to "New reservation search", new_search_restaurants_path %></span>
</nav>
</div>
